*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 40px;
    margin-top: 8px;
}
nav > a{
    text-decoration: none;
    color: black;
}
/*Hover*/
nav >a:hover{
    text-decoration: underline;
    transform: 0.5s;
}

#imgPuntos{
width: 25px;
}
#imgUsuario{
display: flex;
justify-content: flex-end;
height: 32px;
width: 32px;
border-radius: 50px;
margin-right: 5px;
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 128px;
}
.div-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14px;
}
#logo{
    width: 250px;
}
/*Primer section*/
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    padding-top: 8px;
    width: 532px;
    height: 43px;
    border-radius: 20px;
    border: 1px solid #dfe1e5;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
/*Hover de Input*/
.section1:hover{
    box-shadow: 0px 0px 4px 0px #dfe1e5;
}

.input-icon1{
    width: 23px;
    height: 23px;
    margin-left: 12px;
    margin-bottom: 3px;
    align-items: center;
    
}

#input-search{
    display: flex;
    flex: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    outline: none;
    height: 20px;
    align-items: center;
    margin-bottom: 5px;
}

.input-icon2{
    width: 22px;
    height: 30px;
    margin-right: 12px;
    margin-bottom: 8px;
    align-items: center;
}
/*Segundo section*/
.btn-search{
    display: flex;
    justify-content: center;
    padding-top: 18px;
    top: 53px;
}
#search{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 34px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
/*Hover de search*/
#search:hover{
    border: 1px solid #d5d6d6;
    transition: 05.s;
}

#lucky{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 34px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
/*Hover de lucky*/
#lucky:hover{
    border: 1px solid #d5d6d6;
    transition: 05.s;
}

.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3c4043;
    line-height: 28px;
    font-size: 12px;
}
.english{
    color: #1a0dab;
    text-decoration: none;
    padding-left: 5px;
}
.mexico{
    padding: 10px 20px;
    margin-top: 57px;
    border-bottom: 1px solid #dadce0;
    font-size: 14px;
    color: rgba(0,0,0,.54);
    background: #f2f2f2;
}
/*Footer*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f2f2f2;
}
.footer-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
}
.footer-link > a{
    display: block;
    padding: 15px;
    margin-left: 20px;
    color: #70757a;
    text-decoration: none;
    font-size: 13px;
}
/*Hover*/
.footer-link > a:hover{
    text-decoration: underline;
    transition: 0.5s;
}